.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  flex-wrap: wrap;
}

.footer-left, .footer-right, .footer-center {
  display: flex;
  align-items: center;
}

.footer-left .logo {
  width: 120px; /* Adjust as needed */
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer-right a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #e74c3c;
}

.footer-center {
  font-size: 14px;
  margin-top: 10px;
}

.footer-center .highlight {
  color: #e74c3c;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-left, .footer-right, .footer-center {
    margin: 10px 0;
  }

  .footer-right {
    justify-content: center;
  }

  .footer-left .logo {
    margin-bottom: 10px;
  }
}
