.hero {
  background-image: url("https://i.postimg.cc/P5zxmq1R/pietro-de-grandi-T7-K4a-EPo-GGk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 120px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-container {
  padding-left: 200px;
  padding-top: 10px;
  z-index: 1;
  position: relative;
}

.hero h1 {
  font-size: 100px;
  text-align: left;
  color: #f9f9f9;
}

.hero p {
  font-size: 35px;
  text-align: left;
  color: #f9f9f9;
  margin-bottom: 10px;
}

.btn {
  background-color: #f9f9f9;
  position: static;
  display: inline-block;
  color: #eb5757;
  padding: 15px 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries */

/* For screens smaller than 1200px */
@media (max-width: 1200px) {
  .hero {
    min-height: 400px;
  }
  .hero-container {
    padding-left: 100px;
  }
  .hero h1 {
    font-size: 70px;
  }
  .hero p {
    font-size: 25px;
  }
}

/* For screens smaller than 992px */
@media (max-width: 992px) {
  .hero {
    min-height: 300px;
  }
  .hero-container {
    padding-left: 50px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 20px;
  }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .hero {
    min-height: 200px;
  }
  .hero-container {
    padding-left: 20px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 15px;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .hero {
    min-height: 150px;
  }
  .hero-container {
    padding-left: 10px;
  }
  .hero h1 {
    font-size: 20px;
  }
  .hero p {
    font-size: 12px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
}
.Header {
  display: flex;
}
.div1,
.div2 {
  flex: 1;
}
.div1 h1 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  text-align: left;
}

.div1 h2 {
  font-size: 1.5rem;
  text-align: left;
}
.div2 h3 {
  padding-top: 0.5px;
  margin-top: 0.5px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 30%;
  padding: 1rem;
  text-align: center;
}

.card-header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 1rem;
  font-size: 2rem;
}

.card-footer {
  padding: 1rem;
  font-size: 0.8rem;
}
