.hero {
  background-image: url("https://s6.imgcdn.dev/3LzTD.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  top: 70px;
}

.hero-container {
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff;
  color: #ff5733;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
