/* Base styles */
body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #d3635a;
  padding: 10px 20px;
}

.nav-logo img {
  margin-left: 4rem;
  height: 60px; 
}

.nav-items {
  display: flex;
  gap: 40px;
}

.check {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-items .check:hover {
  background-color: #b04b45;
  border-radius: 2px;
  padding: 5px 5px;
}

.hamburger {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* Sidebar styles */
.side {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #d3635a;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: right 0.3s;
  z-index: 1000; /* Ensure it covers other elements */
}

.sidebar .close-btn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  text-align: right;
  padding: 10px 20px;
}

.sidebar .side {
  text-align: center;
  padding: 10px 20px;
}

.sidebar .side:hover {
  background-color: #b04b45;
}

.sidebar.open {
  right: 0;
}

/* Responsive styles */
@media (max-width: 1500px) {
  .nav-items {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
